.pago-page{
  min-height:100vh;
  background:#fdf1f8;
  padding-bottom:40px;
}

.pago-banner{
  max-width:1200px;
  margin:auto;
  padding:40px 20px;
}

.pago-banner h1{
  font-size:60px;
  color:#43208b;
  margin-bottom:10px;
}

.pago-banner p{
  font-size:22px;
  color:#555;
}

.resumen-card,
.metodos-card{
  max-width:1200px;
  margin:20px auto;
  background:white;
  border-radius:25px;
  padding:30px;
}

.producto-pago{
  display:flex;
  justify-content:space-between;
  align-items:center;
  padding:20px 0;
  border-bottom:1px solid #eee;
}

.totales{
  margin-top:20px;
}

.totales div{
  display:flex;
  justify-content:space-between;
  margin:10px 0;
}

.total-final{
  font-size:30px;
  font-weight:bold;
  color:#43208b;
}

.metodo{
  border:2px solid #ddd;
  border-radius:20px;
  padding:20px;
  display:flex;
  gap:20px;
  margin-top:20px;
  cursor:pointer;
}

.metodo.activo{
  border-color:#6b3bd1;
}

.btn-pagar{
  width:100%;
  margin-top:25px;
  padding:18px;
  border:none;
  border-radius:15px;
  background:#6b3bd1;
  color:white;
  font-size:22px;
  cursor:pointer;
}

.btn-volver{
  width:100%;
  margin-top:15px;
  background:none;
  border:none;
  color:#6b3bd1;
  font-size:18px;
  cursor:pointer;
}