body {
  font-family: Arial;
  background: #eef4ff;
}

.container {
  width: 90%;
  margin: auto;
  text-align: center;
}

h1 {
  color: #1e4db7;
}

.form {
  background: white;
  padding: 20px;
  border-radius: 15px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}

input,
select {
  padding: 10px;
  border-radius: 8px;
}

button {
  grid-column: span 2;
  padding: 10px;
  background: #1e4db7;
  color: white;
  border: none;
  border-radius: 8px;
}

.card {
  background: white;
  margin: 10px;
  padding: 15px;
  border-radius: 10px;
}
